<mat-grid-list cols="3" rowHeight="650px" gutterSize="15">
  <mat-grid-tile [colspan]="1" gutterSize="15px" >
    <mat-card>
      <mat-card-header>
        <!-- <mat-card-title>{{ title }}</mat-card-title> -->
      </mat-card-header>        
      <mat-card-content>
        <!-- <p>
          1. formularz wpisania godziny od do
        </p>         -->
        <app-add-task (addTodo)="onAddTodo($event)"></app-add-task>
        <app-to-do-list
        [tasks]="todosList"
        (changeTaskOrder)="onChangeTaskOrder($event)"
        (dropCalendarEventOnTaskList)="onDropCalendarEventOnTaskList($event)"
        (deleteTodo)="onDeleteTodo($event)"
        ></app-to-do-list>    
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
 
  <mat-grid-tile [colspan]="2"> 
    <!-- <mat-card> 
      <mat-card-content style="height: 600px"> -->
        <app-calendar [events]="eventsList" style="min-width: 900px;"></app-calendar>
      <!-- </mat-card-content>
    </mat-card> -->
  </mat-grid-tile>
</mat-grid-list>

<router-outlet></router-outlet>
