<mat-grid-list cols="2" rowHeight="600px" gutterSize="15">
  <mat-grid-tile [colspan]="1" [style.background-color]="lightblue" gutterSize="15px" >
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
      </mat-card-header>        
      <mat-card-content>
        <p>
          1. formularz wpisania godziny od do
        </p>        
        <app-tasks-list></app-tasks-list>     
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
 
  <mat-grid-tile [colspan]="1" [style.background-color]="lightpink"> 
    <mat-card style="background-color: #777; opacity: 0.25;">        
      <mat-card-header>
        <mat-card-title>Rozkład dnia</mat-card-title>
      </mat-card-header>
      <mat-card-content style="height: 400px">
        <p>
          tu ma być tabela rozpoczynająca się od godziny wybranej w inpucie po lewej stronie.
          do tej tabelki można przeciągać zadania utworzone po lewej stronie
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<router-outlet></router-outlet>
