<app-calendar-header></app-calendar-header>

<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)"
#doneList="cdkDropList"
[cdkDropListData]="done"
[cdkDropListConnectedTo]="[todoList]"
>
  <div class="example-box" *ngFor="let todo of todos" cdkDrag>
    <div *ngIf="todo.scheduled">
        <span>{{todo.title}}</span>
        <button type="button" (click)="onDelete(todo.id)">Delete</button>
    </div>  
  </div>
</div>

<mwl-calendar-day-view
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>